{% extends 'parts/layout.twig' %}

{% block title %}
	<title> Social </title>
{% endblock %}


{% block content %}
<body>
	<div class="main-block">
		{#LEFT-PART#}
		<div class="main-block__left-part">

			{#ITEM#}
			<div class="big-block">
				<div class="big-block__img" style="background-image: url(http://placehold.it/632x454)">
					<div class="big-block__header">
						<p class="big-block__header-left">Entartainment</p>
						<p class="big-block__header-right">2 mins ago</p>
					</div>
				</div>
				<div class="big-block__bottom">
					<div class="big-block__bottom-left">
						<div class="big-block__avatar" style="background-image: url(http://placehold.it/110x110)"></div>
						<button class="big-block__follow-button">Follow</button>
						<p class="big-block__small-info">Small information
							here...</p>
					</div>
					<div class="big-block__bottom-right">
						<div class="big-block__info-content">
							<a href="#" class="big-block__userinfo">
								<span class="big-block__user-name">Katie Powner Katie Katie Katie Katie Katie </span>
								<span class="big-block__user-nick">@Katie_Pow...Katie Katie Katie Katie Katie </span>
							</a>
							<p class="big-block__status">
								genrrated “Title of post...Katie Powner Katie Powner”
							</p>
							<p class="big-block__title-of-post">
								Nintendo is one of the best videogame ...Katie PownerKatie PownerKatie Powner
							</p>
						</div>
						<div class="big-block__icon-and-tag">
							<div class="big-block__stats">
								<div class="big-block__stats-item">
									<p class="big-block__stats-item-number">0</p>
									<button class="big-block__stats-item-logo"></button>
								</div>
								<div class="big-block__stats-item">
									<p class="big-block__stats-item-number">0</p>
									<i class="big-block__stats-item-repost"></i>
								</div>
								<div class="big-block__stats-item">
									<p class="big-block__stats-item-number">0</p>
									<i class="big-block__stats-item-comment"></i>
								</div>
								<div class="big-block__stats-item">
									<p class="big-block__stats-item-number">0</p>
									<i class="big-block__stats-item-dis"></i>
								</div>
								<div class="big-block__stats-item">
									<p class="big-block__stats-item-number">0</p>
									<i class="big-block__stats-item-like"></i>
								</div>
							</div>
							<div class="big-block__tags">
								<a href="#" class="big-block__tag">#News </a>
								<a href="#" class="big-block__tag">#Design </a>
								<a href="#" class="big-block__tag">#Proposal </a>
								<a href="#" class="big-block__tag">#Landscape </a>
								<a href="#" class="big-block__tag">#Nature </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{#/ITEM#}

			{#ITEM NO-IMG#}
			<div class="big-block big-block_no-img">
				<div class="big-block__img">
					<div class="big-block__header">
						<p class="big-block__header-left">Entartainment</p>
						<p class="big-block__header-right">2 mins ago</p>
					</div>
				</div>
				<div class="big-block__bottom">
					<div class="big-block__bottom-left">
						<div class="big-block__avatar" style="background-image: url(http://placehold.it/110x110)"></div>
						<button class="big-block__follow-button">Follow</button>
						<p class="big-block__small-info">Small information
							here...</p>
					</div>
					<div class="big-block__bottom-right">
						<div class="big-block__info-content">
							<div class="big-block__no-foto">
								<div class="big-block__no-foto-img"></div>
								<div class="big-block__triangl"></div>
							</div>
							<a href="#" class="big-block__userinfo">
								<span class="big-block__user-name">Katie Powner </span>
								<span class="big-block__user-nick">@Katie_Pow...</span>
							</a>
							<p class="big-block__status">
								genrrated “Title of post...”
							</p>
							<p class="big-block__title-of-post">
								Nintendo is one of the best videogame...
							</p>
						</div>
						<div class="big-block__icon-and-tag">
							<div class="big-block__stats">
								<div class="big-block__stats-item">
									<p class="big-block__stats-item-number">0</p>
									<button class="big-block__stats-item-logo"></button>
								</div>
								<div class="big-block__stats-item">
									<p class="big-block__stats-item-number">0</p>
									<i class="big-block__stats-item-repost"></i>
								</div>
								<div class="big-block__stats-item">
									<p class="big-block__stats-item-number">0</p>
									<i class="big-block__stats-item-comment"></i>
								</div>
								<div class="big-block__stats-item">
									<p class="big-block__stats-item-number">0</p>
									<i class="big-block__stats-item-dis"></i>
								</div>
								<div class="big-block__stats-item">
									<p class="big-block__stats-item-number">0</p>
									<i class="big-block__stats-item-like"></i>
								</div>
							</div>
							<div class="big-block__tags">
								<a href="#" class="big-block__tag">#News </a>
								<a href="#" class="big-block__tag">#Design </a>
								<a href="#" class="big-block__tag">#Proposal </a>
								<a href="#" class="big-block__tag">#Landscape </a>
								<a href="#" class="big-block__tag">#Nature </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{#/ITEM NO-IMG#}

		</div>
		{#/LEFT-PART#}

		{#CENTER-PART#}
		<div class="main-block__center-part">

			{#ITEM#}
			<div class="medium-block">
					<div class="medium-block__img" style="background-image: url(http://placehold.it/305x232)">
						<div class="medium-block__header">
							<p class="medium-block__header-left">Entartainment</p>
							<p class="medium-block__header-right">2 mins ago</p>
						</div>
					</div>
					<div class="medium-block__bottom">
						<div class="medium-block__bottom-title">
							<div class="medium-block__avatar" style="background-image: url(http://placehold.it/75x75)"></div>
							<div class="medium-block__user-and-status">
								<a href="#" class="medium-block__userinfo">
									<span class="medium-block__user-name">Katie Powner Katie</span>
									<span class="medium-block__user-nick">@Katie_Powner</span>
								</a>
								<p class="medium-block__status">
									genrrated “Title of post...”
								</p>
							</div>
						</div>
						<p class="medium-block__title-of-post">
							Nintendo’s hit console the...
						</p>
						<button class="medium-block__follow-button">Follow</button>
						<div class="medium-block__info-and-tags">
							<p class="medium-block__small-info">Small information here...</p>
							<div class="medium-block__tags">
								<a href="#" class="medium-block__tag">#News </a>
								<a href="#" class="medium-block__tag">#Design </a>
								<a href="#" class="medium-block__tag">#Proposal </a>
								<a href="#" class="medium-block__tag">#Landscape </a>
								<a href="#" class="medium-block__tag">#Nature </a>
							</div>
						</div>
						<div class="medium-block__stats-block">
							<div class="medium-block__stats">
							<div class="medium-block__stats-item">
								<p class="medium-block__stats-item-number">0</p>
								<button class="medium-block__stats-item-logo"></button>
							</div>
							<div class="medium-block__stats-item">
								<p class="medium-block__stats-item-number">0</p>
								<i class="medium-block__stats-item-repost"></i>
							</div>
							<div class="medium-block__stats-item">
								<p class="medium-block__stats-item-number">0</p>
								<i class="medium-block__stats-item-comment"></i>
							</div>
							<div class="medium-block__stats-item">
								<p class="medium-block__stats-item-number">0</p>
								<i class="medium-block__stats-item-dis"></i>
							</div>
							<div class="medium-block__stats-item">
								<p class="medium-block__stats-item-number">0</p>
								<i class="medium-block__stats-item-like"></i>
							</div>
						</div>
						</div>
					</div>
			</div>
			{#/ITEM#}

			{#ITEM NO-IMG#}
			<div class="medium-block medium-block_no-img">
				<div class="medium-block__img" style="background-image: url(http://placehold.it/305x232)">
					<div class="medium-block__header">
						<p class="medium-block__header-left">Entartainment</p>
						<p class="medium-block__header-right">2 mins ago</p>
					</div>
				</div>
				<div class="medium-block__bottom">
					<div class="medium-block__bottom-title">
						<div class="medium-block__avatar" style="background-image: url(http://placehold.it/75x75)"></div>
						<div class="medium-block__user-and-status">
							<div class="medium-block__no-foto">
								<div class="medium-block__no-foto-img"></div>
								<div class="medium-block__triangl"></div>
							</div>
							<a href="#" class="medium-block__userinfo">
								<span class="medium-block__user-name">Katie Powner </span>
								<span class="medium-block__user-nick">@Katie_Pow...</span>
							</a>
							<p class="medium-block__status">
								genrrated “Title of post...”
							</p>
						</div>
					</div>
					<p class="medium-block__title-of-post">
						Nintendo’s hit console the...
					</p>
					<button class="medium-block__follow-button">Follow</button>
					<div class="medium-block__info-and-tags">
						<p class="medium-block__small-info">Small information here...</p>
						<div class="medium-block__tags">
							<a href="#" class="big-block__tag">#News </a>
							<a href="#" class="big-block__tag">#Design </a>
							<a href="#" class="big-block__tag">#Proposal </a>
							<a href="#" class="big-block__tag">#Landscape </a>
							<a href="#" class="big-block__tag">#Nature </a>
						</div>
					</div>
					<div class="medium-block__stats-block">
						<div class="medium-block__stats">
							<div class="medium-block__stats-item">
								<p class="medium-block__stats-item-number">0</p>
								<button class="medium-block__stats-item-logo"></button>
							</div>
							<div class="medium-block__stats-item">
								<p class="medium-block__stats-item-number">0</p>
								<i class="medium-block__stats-item-repost"></i>
							</div>
							<div class="medium-block__stats-item">
								<p class="medium-block__stats-item-number">0</p>
								<i class="medium-block__stats-item-comment"></i>
							</div>
							<div class="medium-block__stats-item">
								<p class="medium-block__stats-item-number">0</p>
								<i class="medium-block__stats-item-dis"></i>
							</div>
							<div class="medium-block__stats-item">
								<p class="medium-block__stats-item-number">0</p>
								<i class="medium-block__stats-item-like"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			{#/ITEM NO-IMG#}
		</div>
		{#/CENTER-PART#}

		{#RIGHT-PART#}
		<div class="main-block__right-part">

			{#ITEM#}
			<div class="mini-block">
				<div class="mini-block__img" style="background-image: url(http://placehold.it/186x120)"></div>
				<div class="mini-block__right">
					<div class="mini-block__title">
						<div class="mini-block__avatar" style="background-image: url(http://placehold.it/50x50)"></div>
						<div class="mini-block__user-and-status">
							<a href="#" class="mini-block__userinfo">
								<span class="mini-block__user-name">Katie Powner Katie</span>
								<span class="mini-block__user-nick">@Katie_Powner</span>
							</a>
							<p class="mini-block__status">
								genrrated “Title of post...”
							</p>
						</div>
					</div>
					<p class="mini-block__title-of-post">
						Nintendo’s hit console the...
					</p>
				</div>
			</div>
			{#/ITEM#}

			{#ITEM NO-IMG#}
			<div class="mini-block mini-block_no-img">
				<div class="mini-block__img"></div>
				<div class="mini-block__right">
					<div class="mini-block__title">
						<div class="mini-block__avatar" style="background-image: url(http://placehold.it/50x50)"></div>
						<div class="mini-block__user-and-status">
							<a href="#" class="mini-block__userinfo">
								<span class="mini-block__user-name">Katie Powner Katie</span>
								<span class="mini-block__user-nick">@Katie_Powner</span>
							</a>
							<p class="mini-block__status">
								genrrated “Title of post...”
							</p>
						</div>
					</div>
					<p class="mini-block__title-of-post">
						Nintendo’s hit console the...
					</p>
				</div>
			</div>
			{#/ITEM NO-IMG#}

		</div>
		{#/RIGHT-PART#}
	</div>
</body>
{% endblock %}
