.svg-icon(@icon, @width, @height) {
	background: svg('@{icon}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
	min-width: @width;
}

.svg-icon(@icon, @width, @height, @param) {
	background: svg('@{icon}', '@{param}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;

}
.shadow() {
	box-shadow: 3px 3px 7px rgba(0,0,0,.2);
}
.icon-up() {
	transition: all .5s ease;
	&:hover {
		transform: translateY(-3px);
	}
}