.big-block {
	margin-bottom: 19px;
	border: 1px solid #afafaf;
	.shadow();
	&__img { // .big-block__img
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;
		height: 454px;
		z-index: 5;
		.big-block_no-img & { // .big-block_no-img .big-block__img
			height: auto;
		}
	}
	&__header {
		padding: 7px 19px 0 19px;
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 24px;
		z-index:10;
		font-size: @10;
		.regular();
		.big-block_no-img & {
			position: static;
			background-color: #f0f0f0;
		}
	}
	&__header-left {
	}
	&__header-right {
	}
/*BOTTOM*/
	&__bottom {
		padding: 19px;
		display: flex;
		z-index: 10;
		position: relative;
		&:after {
			content: '';
			border: 25px solid transparent;
			border-bottom: 30px solid white;
			position: absolute;
			top: -55px;
			right: 18px;
		}
		.big-block_no-img & {
			position: static;
		}
	}

/*BOTTOM LEFT*/
	&__bottom-left {
		width: 112px;
		position: relative;
	}
	&__avatar {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 115px;
		height: 115px;
		border-radius: 55px;
		border: 2px solid white ;
		position: absolute;
		top: -55px - 19px;
		left: 0;
		.big-block_no-img & {
			position: static;
			margin-bottom: 18px;
		}
	}
	&__follow-button {
		min-width: 112px;
		margin-top: 70px - 19px;
		margin-bottom: 10px;
		vertical-align: middle;
		height: 26px;
		width: 100%;
		font-size: @14;
		.regular();
		color: white;
		background-color: #4495cb;
		border: none;
		.big-block_no-img & {
			margin-top: 0;
		}
	}
	&__small-info {
		font-size: @11;
		.regular();
		line-height: 1.5;
	}
/*/BOTTOM LEFT*/

/*BOTTOM RIGHT*/
	&__bottom-right {
		overflow: hidden;
		padding-left: 18px + 18px;
		flex-grow: 3;
	}
	&__info-content {
		overflow: hidden;
	}
	&__no-foto {
		height: 60px;
		border-bottom: 1px solid #b3b3b3;
		margin-bottom: 18px;
		display: flex;
		justify-content: space-between;
	}
	&__no-foto-img {
		align-self: flex-start;
		border-radius: 22px;
		.svg-icon(no-photo, 44px, 44px)
		/*width: 44px;
		height: 44px;
		background-color: #b3b3b3;*/
	}
	&__triangl {
		border: 25px solid transparent;
		border-bottom: 30px solid #b3b3b3;
	}

	&__userinfo {
		margin-bottom: 8px;
		text-decoration: none;
		font-size: @16;
		color: #141414;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	&__user-name {
		.bold()
	}
	&__user-nick {
		.regular()
	}
	&__status {
		margin-top: 8px;
		margin-bottom: 19px;
		font-size: @13;
		.regular();
		color: #666666;
		line-height: 1.3;
	}
	&__title-of-post {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-bottom: 19px;
		font-size: @16;
		.regular();
		line-height: 1.3;
	}
	&__icon-and-tag {
		display: flex;
		justify-content: space-between;
	}
	&__stats {
		min-width: 150px;
		display: flex;
		flex-grow: 3;
		justify-content: center;
		align-items: center;
	}
	&__stats-item {
		display: flex;
		margin-right: 9px;
		align-items: center;
	}
	&__stats-item-number {
		font-size: @12;
		.regular();
		margin-right: 2px;
	}
	&__stats-item-logo {
		.svg-icon(icon-logo, 15px, 15px);
		border: none;
		padding: 0;
		cursor: pointer;
		outline: none;
		-webkit-appearance: none;
		/*.icon-up();*/
	}
	&__stats-item-repost {
		.svg-icon(icon-repost, 15px, 8px);
		margin-top: 2px;
		/*.icon-up();*/
	}
	&__stats-item-comment {
		.svg-icon(icon-comment, 14px, 14px);
		/*.icon-up();*/
	}
	&__stats-item-dis {
		.svg-icon(icon-dis, 13px, 13px);
		/*.icon-up();*/
	}
	&__stats-item-like {
		.svg-icon(icon-like, 15px, 15px);
		/*.icon-up();*/
	}
	&__tags {
		width: 160px;
		text-align: right;
	}
	&__tag {
		font-size: @11;
		.regular();
		text-decoration: none;
		color: #4495cb;
	}
/*/BOTTOM RIGHT*/
}
