.main-block {
	background-color: #f2f2f2;
	//display: flex;
	&__left-part{
		background-color: #ffffff;
		width: 632px;
		margin: 30px;
	}
	&__center-part {
		width: 305px;
		margin: 30px;
	}
	&__right-part {
		width: 420px;
		margin: 30px;
	}
}