.medium-block {
	margin-bottom: 19px;
	border: 1px solid #afafaf;
	.shadow();
	&__img {
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;
		height: 232px;
		z-index: 5;
		.medium-block_no-img & {
			height: auto;
		}
	}
	&__header {
		padding: 7px 19px 0 19px;
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 24px;
		z-index: 10;
		font-size: @10;
		.regular();
		.medium-block_no-img & {
			position: static;
			background-color: #f0f0f0;
		}
	}
	&__header-left {
	}
	&__header-right {
	}
	&__userinfo {
		margin-bottom: 8px;
		text-decoration: none;
		font-size: @12;
		color: #141414;
	}
	&__user-name {
		font-size: @14;
		.bold()
	}
	&__user-nick {
		font-size: @14;
		.regular()
	}
/*/HEADER*/

/*	BOTTOM*/
	&__bottom {
		padding: 12px;
		display: flex;
		flex-direction: column;
		z-index: 10;
		position: relative;
		background-color: white;
		&:after {
			overflow: hidden;
			content: '';
			border: 15px solid transparent;
			border-bottom: 16px solid white;
			position: absolute;
			top: -31px;
			right: 18px;
		}
		.medium-block_no-img & {
			position: static;
		}
	}
	&__bottom-title {
		overflow: hidden;
		margin-bottom: 10px;
		display: flex;

	}
	&__avatar {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 78px;
		height: 78px;
		border-radius: 39px;
		border: 2px solid white;
		position: absolute;
		top: -40px;
		left: 12px;
		min-width: 78px;
		.medium-block_no-img & {
			position: static;
		}
	}
	&__user-and-status {
		overflow: hidden;
		margin-left: 84px;
		.medium-block_no-img & {
			margin-left: 12px;
			flex-grow: 3;
		}
	}
	&__no-foto {
		height: 42px;
		border-bottom: 1px solid #b3b3b3;
		margin-bottom: 14px;
		display: flex;
		justify-content: space-between;
	}
	&__no-foto-img {
		align-self: flex-start;
		border-radius: 15px;
		.svg-icon(no-photo, 30px, 30px)
		/*width: 30px;
		height: 30px;
		background-color: #b3b3b3;*/
	}
	&__triangl {
		border: 15px solid transparent;
		border-bottom: 16px solid #b3b3b3;
	}
	&__userinfo {
		text-decoration: none;
		font-size: @12;
		color: #141414;
		margin-bottom: 8px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;
	}
	&__user-name {
		.bold()
	}
	&__user-nick {
		.regular()
	}
	&__status {
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;
		font-size: @10;
		.regular();
		color: #666666;
	}
	&__title-of-post {
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;
		margin-bottom: 22px;
		font-size: @15;
		.regular();
	}
	&__follow-button {
		height: 17px;
		width: 80px;
		font-size: @11;
		.regular();
		color: white;
		background-color: #4495cb;
		border: none;
		margin-bottom: 8px;
	}
	&__info-and-tags {
		display: flex;
		justify-content: space-between;
		margin-bottom: 22px;
	}
	&__small-info {
		font-size: @11;
		.regular();
		color: #4495cb;
		max-width: 80px;
		line-height: 1.5;
	}
	&__tags {
		text-align: right;
		max-width: 130px;
	}
	&__tag {
		font-size: @11;
		.regular();
		text-decoration: none;
		color: #4495cb;
		line-height: 1.5;
	}
	&__stats-block {
		display: flex;
		justify-content: center;
	}
	&__stats {
		min-width: 150px;
		display: flex;
		flex-grow: 3;
		justify-content: center;
		align-items: center;
	}
	&__stats-item {
		display: flex;
		margin-right: 9px;
		align-items: center;
	}
	&__stats-item-number {
		font-size: @12;
		.regular();
		margin-right: 2px;
	}
	&__stats-item-logo {
		.svg-icon(icon-logo, 15px, 15px);
		border: none;
		padding: 0;
		cursor: pointer;
		outline: none;
		-webkit-appearance: none;
		/*.icon-up();*/
	}
	&__stats-item-repost {
		.svg-icon(icon-repost, 15px, 8px);
		margin-top: 2px;
		/*.icon-up();*/
	}
	&__stats-item-comment {
		.svg-icon(icon-comment, 14px, 14px);
		/*.icon-up();*/
	}
	&__stats-item-dis {
		.svg-icon(icon-dis, 13px, 13px);
		/*.icon-up();*/
	}
	&__stats-item-like {
		.svg-icon(icon-like, 15px, 15px);
		/*.icon-up();*/
	}
}