.mini-block {
	display: flex;
	background: #fff;
	border: 1px solid #afafaf;
	margin-bottom: 32px;
	.shadow();
	&__img {
		position: relative;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		min-width: 186px;
		&:after {
			content: '';
			position: absolute;
			border: 15px solid transparent;
			border-right: 16px solid white;
			top: 18px;
			right: 0;
		}
		.mini-block_no-img & {
			display: flex;
			justify-content: center;
			align-items: center;
			&:after {
				border-right-color: #afafaf;
			}
			&:before {
				content: '';
				.svg-icon(no-photo, 82px, 82px);
			}
		}
	}
	&__right {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 0 18px;
		margin: 18px 0;
		overflow: hidden;
		.mini-block_no-img & {
			border-left: 1px solid #afafaf;
		}
	}
	&__title {
		display: flex;
		margin-bottom: 22px;
		overflow: hidden;
	}
	&__avatar {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 50px;
		min-width: 50px;
		height: 50px;
		border-radius: 25px;
	}
	&__user-and-status {
		overflow: hidden;
		padding-left: 10px;
	}
	&__userinfo {
		text-decoration: none;
		font-size: @12;
		color: #141414;
		text-overflow: ellipsis;
		overflow: hidden;
		display: block;
	}
	&__user-name {
		.bold();
		margin-bottom: 12px;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__user-nick {
		.regular();
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		white-space: nowrap;
	}
	&__status {
		.regular();
		font-size: @10;
		line-height: 1.3;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__title-of-post {
		.regular();
		font-size: @15;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		white-space: nowrap;
		margin-bottom: 4px;
	}
}